// ---------------------------------------------------------------------------
// Buttons
// ---------------------------------------------------------------------------

@mixin cta($text-color: $white, $background-color: $color-primary, $hover-text-color: $white, $hover-background-color: $color-primary-dark, $transition-duration: $transition-medium) {
  position: relative;
  display: inline-block;
  padding: 1em 2em 1em 1em;
  margin-left: 40px;
  font-size: 18px;
  color: $text-color;
  background-color: $background-color;
  transition: all $transition-duration ease;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 5px;
    height: 100%;
    background-color: $background-color;
    box-shadow: -5px 0 0 $background-color, -15px 0 0 $background-color, -25px 0 0 $background-color, -35px 0 0 $background-color;
    transform: skewX(10deg);
    transition: all $transition-duration ease;
  }

  &:hover {
    color: $hover-text-color;
    background: $hover-background-color;

    &:before {
      background-color: $hover-background-color;
      box-shadow: -5px 0 0 $hover-background-color, -15px 0 0 $hover-background-color, -25px 0 0 $hover-background-color, -35px 0 0 $hover-background-color;
    }
  }

  &:visited {
    color: $white;
  }
}

.cta {
  @include cta();
}


// Highlights
mark {
  padding: 5px 10px;
  background-color: $gray-3;
  border-bottom: 2px solid $gray-5;
  border-radius: 4px;
}
